/* 테이블 스타일 */
table{
    border: 1px solid #ccc;
    width: 200px;
    text-align: center;
    border-collapse: collapse; /* 테두리 통합(붕괴) */
    /* border-collapse: separate; */ /* 기본*/
}
th, td{
    border: 1px solid #ccc;
    height: 50px;
}
thead{
    /* 배경 색상 */
    background-color: #eee;
}
tfoot{
    background-color: #ddd;
}